* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ebebeb;
}

.header {
  align-items: center;
  background-color: #036b52;
  display: flex;
  height: 80px;
  justify-content: center;
  width: 100vw;
}

.searchInput {
  border: none;
  border-radius: 5px 0 0 5px;
  box-shadow: 0 7px 6px -6px black;
  height: 35px;
  outline: none;
  padding-left: 10px;
  width: 40vw;
}

.button-search {
  background-color: white;
  border: none;
  border-radius: 0 5px 5px 0;
  box-shadow: 0 7px 6px -6px black;
  cursor: pointer;
  height: 35px;
  padding: 10px;
}

.cart {
  margin: 0 50px;
}

.filter-category {
  margin: 0 50px;
  margin-top: 50px;
  text-align: center;
  width: 15%;
}

.list-category {
  line-height: 22px;
  list-style: none;
  margin-top: 10px;
  text-align: start;
  width: 80%;
}

.category:hover {
  color: blue;
  cursor: pointer;
}

.category-radio {
  margin-right: 5px;
}

aside {
  display: flex;
  width: 100%;
}

.list {
  /* border: 1px solid red; */
  width: 75%;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}

.product {
  background-color: white;
  border: 1px solid red;
  border-radius: 5px;
  margin: 14px;
  padding: 15px 10px;
  width: 21%;
}

.product:hover {
  box-shadow: 10px 7px 10px 1px rgb(0, 0, 0, 0.3);
  transform: scale(1.05);
  transition: 0.4s;
}

.img-product {
  width: 100%;
}

.title-product {
  color: rgba(0, 0, 0, 0.8);
  height: 30%;
}

hr {
  border: 1px solid #ebebeb;
}

.link-product {
  text-decoration: none;
}

.price {
  color: rgb(0, 0, 0, 0.8);
  margin: 10px;
}

.button-add-product-cart {
  background-color: rgba(65, 137, 230, 0.15);
  border: none;
  border-radius: 5px;
  bottom: 0;
  color: #3483fa;
  font-size: 16px;
  padding: 15px;
  position: relative;
}

.button-add-product-cart:hover {
  background-color: rgba(65, 137, 230, 0.2);
  cursor: pointer;
}

.contain-price-button {
  display: flex;
  flex-direction: column;
}


.shoppingCart-contain {
  display: flex;
  justify-content: center;
  border: 1px solid red;
  height: 100vh;
}

.productsCart {
  border: 1px solid red;
  display: flex;
  align-items: center;
  background-color: white;
  height: 50%;
}

.button {
  margin-bottom: 30px;
  margin-top: 20px;
}

